.vscode/**
.vscode-test/**
out/test/**
test/**
src/**
node_modules/**
out/**
**/*.map
*.pdf
vault/**
.gitignore
.git/**
*.vsix
tslint.json
webpack.config.js
tsconfig.json
*.json
*.png
vsc-extension-quickstart.md
